services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: my-password
      MYSQL_DATABASE: bb-project
      MYSQL_USER: host
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: ${JWT-SECRET}
      
  
  client:
    build: ./client
    ports:
      - "5173:5173"

volumes:
  db_data: