services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: my-password
      MYSQL_DATABASE: test
      MYSQL_USER: host
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: